<div class="panel panel-default">
  <div class-"panel-body">
    <div class="row">
      <div class="col-md-4">
      <%= image_tag @product.image, style: "width: 200px; display: block" %>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Title:</strong></td>
              <td><%= @product.title %></td>
            </tr>
            <tr>
              <td><strong>Description:</strong></td>
              <td><%= @product.description %></td>
            </tr>
            <tr>
              <td><strong>Rating:</strong></td>
              <td><%= @product.rating %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "Write a Review", new_product_review_path(@product) %>
        </div>
      </div>
    </div>
  </div>
</div>
